.clearfix:after{
				content: ".";display: block;clear: both;overflow: hidden;visibility: hidden;height: 0;
			}
.j-visible{
	display: inline-block !important;
}
.j-visibleBlock{
	display: block !important;
}
.j-hiddeen{
	display: none !important;
}
