/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body,.container{
    height: 100%;
    overflow: hidden;
}

body{
	background: url(../img/bg2.jpg) ;
}
.g-header{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height:245px;
	margin: 0 100px;
	overflow: hidden;
}

.g-header .logo{
	float: left;
	height: 100%;
	width: 500px;
	background: url(../img/logo_zero.png) no-repeat;
}
.g-nav{
	position: absolute;
	left: 0;
	right: 0;
	top: 245px;
	height: 40px;
	margin: 0 100px;
	background-color: rgba(0,191,255,0.2);
}
.g-content{
	position: absolute;
	top: 285px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	margin: 0 100px;
	background: rgba(30,144,255,0.6);
	min-width: 500px;
	min-height: 500px;
}

.g-header .m-logo-icon{
	overflow: hidden;
	height: 140px;
	min-width: 140px;
	margin-top: 50px;
	margin-right: 100px;
	color: blue;
}

.g-header .m-logo-icon img{
	display: none;
	overflow: hidden;
	height: 140px;
	width: 140px;
	float: right;
}
.g-nav ul{
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: stretch;
}
.g-nav li{
	display: flex; justify-content: center; align-items: center;
	flex: 1;
}
.g-nav a{
	font: 14px "microsoft yahei";
}
.g-content .home h1{
	margin-left: 50px;
	margin-top: 25px;
	font: 28px arial;
}
.g-content .home p{
	margin:25px 50px;
}
.g-content .m-slider{
	left: 50px;
	position: absolute;
	bottom: 50px;
	height: 140px;
	width: 140px;
	overflow: hidden;
}
.m-slider .view{
	position: relative;
	width: 800px;
	height: 100%;
	left: 0px;
}
.m-slider img{
	display: inline-block;
	float: left;
}

/* about页面  */
.g-content .about
{
	margin:50px;
	font:14px "microsoft sans serif" "微软雅黑";
}

.g-content .about h1{
	font-size: 20px;
}
.g-content .about h2{
	font-size: 18px;
}
.g-content .about ul{
	font-size: 16px;
	
}
.g-content .about a{
	text-decoration: none;
}
.g-content .about section{
	margin-top: 20px;
}
.g-content .about p{
	text-indent: 2em;
}
.g-content .about section{
	display: none;
}

/* photos页面  */
.g-content .photos{
	margin:50px;
	font:18px "microsoft sans serif" "微软雅黑";
}
.g-content .photos ul{
	overflow: hidden;
}
.g-content .photos li{
	display: inline-block;
	float: left;
}
.g-content .photos li img{
	height: 100px;
	margin: 5px;
}
.g-content .photos section img{
	border: 5px solid rgba(255,255,255,0.5);
	height: 350px;
}
.g-content .live {
	font:18px "microsoft sans serif" "微软雅黑";
	/*margin: 50px auto;*/
	display: flex;
	align-items: center;
	flex-direction: column;
	/*width: 500px;*/
}
.g-content .live h1{
	font-size: 24px;
}

.g-content .live table,.g-content .live th,.g-content .live td{
	border: 2px solid darkslategray;
}
.g-content .live th,.g-content .live td{
	height: 50px;
	width:150px;
	line-height: 50px;
	text-align: center;
}
.g-content .live th{
	background-color: rgba(69,139,0,0.8);
}
.g-content .live tr:nth-child(2n+1){
	background-color: rgba(70,130,180,0.5);
}
.g-content .live tr:nth-child(2n){
	background-color: rgba(185,125,75,0.5);
}
.g-content .live tbody tr:hover{
	background: rgba(139,115,85,1);
}
.g-content .contact {
	font:18px "microsoft sans serif" "微软雅黑";
	margin: 50px;
}
.g-content .contact h1{
	font-size: 24px;
}
.g-content .contact input{
	width: 200px;
}
.g-content .contact textarea{
	width: 400px;
	height: 250px;
}














